__pycache__/
*.py[cod]
*$py.class

.runtime_cache/
.pytest_cache/

gradio_app.py
README_GRADIO.md

models/*
!models/
!models/dataset.pkl
!models/model_info.pkl
static/static_1/

.env
.venv/
venv/
env/

*.log
